<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- annotation을 따라서 객체를 생성 -->
    <context:component-scan base-package="com.mirim.biz"/>
    <!-- annotation 기반 AOP -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

   <!--<bean id="log" class="com.mirim.biz.common.LogAdvice"/>
    <bean id="before" class="com.mirim.biz.common.BeforeAdvice"/>
    <bean id="afterreturning" class="com.mirim.biz.common.AfterReturningAdvice"/>
    <bean id="afterThrowing" class="com.mirim.biz.common.AfterThrowingAdvice"/>
    <bean id="after" class="com.mirim.biz.common.AfterAdvice"/>
    <bean id="around" class="com.mirim.biz.common.AroundAdvice"/>
    <aop:config>
        <aop:pointcut id="allPointcut" expression="execution(* com.mirim.biz..*Impl.*(..))"/>
        <aop:pointcut id="getPointcut" expression="execution(* com.mirim.biz..*Impl.get*(..))"/>
        <aop:aspect ref="around">
            <aop:around method="aroundLog" pointcut-ref="allPointcut"/>
        </aop:aspect>
    </aop:config>-->

    <!--<bean id="tv" class="polymorphism.어쩔TV">
        <property name="speaker" ref="apple"/>
        <property name="price" value="270000"/>
    </bean>

    <bean id="sony" class="polymorphism.SonySpeaker"/>
    <bean id="apple" class="polymorphism.AppleSpeaker"/>-->

</beans>